@model RapiMoto.Models.Tecnico
@{
    ViewData["Title"] = "Crear";
}


<h1 class="text-center">Administracion de Tecnicos</h1>
<div class="row">
    <div class="col-12">
        <div class="card border">
            <div class="card-header">
                <h3><strong>Crear un nuevo Tecnico</strong></h3>
            </div>
            <div class="card-body">
                <form asp-action="Crear">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" placeholder="Ingresa el nombre del tecnico"/>
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Apellidos" class="control-label"></label>
                        <input asp-for="Apellidos" class="form-control" placeholder="Ingresa el teléfono"/>
                        <span asp-validation-for="Apellidos" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NumeroTelefono" class="control-label"></label>
                        <input asp-for="NumeroTelefono" class="form-control" placeholder="Ingresa el celular"/>
                        <span asp-validation-for="NumeroTelefono" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Registro" class="control-label"></label>
                        <input asp-for="Registro" class="form-control" placeholder="Ingresa el Registro"/>
                        <span asp-validation-for="Registro" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Disponibilidad" class="control-label"></label>
                        <input asp-for="Disponibilidad" class="form-control" placeholder="Ingresa el disponibilidad"/>
                        <span asp-validation-for="Disponibilidad" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-success"><i class="bi bi-person-fill"></i> Crear Tecnico</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

