@page
@model RapiMotos.App.Presentacion.Pages.AdministradorModel
@{
}

<section>
                <div class="contenido">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">
                        <button class="boton">Inicio</button>
                    </a>
                </div>
    <p class="Titulo1">Administrador</p>
</section>
                    
