@page
@model RapiMotos.App.Presentacion.Pages.AdministradorModel
@{
}  
                    <p class="Titulo1">Ingrese el tipo de usuario</p>
                    <a class="navbar-brand" asp-area="" asp-page="/router/Index"><button class="boton">Inici</button></a>